.signup-form {

  background-color: lightgrey;
  padding: 50px 35px;
  margin: 20px auto;
  width: 375px;

  input {

    padding: 10px;
    width: 270px;
    background-color: #eee;
    border: 0px;
    margin: auto;
    display: block;
    margin-bottom: 10px;

  }

  button {

    display: block;
    margin: 0 auto;
    border: 0px;
    width: 270px;
    padding: 10px 0;
    background-color: lightgreen;
    color: white;

    &:hover {

      cursor: pointer;
      background-color: lighten(lightgreen, 10%);

    }

  }

}
