.poker-game {

  h1 {

    text-align: center;
    margin-top: 20px;

  }

  .opponents {

    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 20px;

    .opponent {

      margin: 0 15px;

      img {

        background-color: purple;
        width: 100px;
        height: 100px;
        border-radius: 50%;

      }

      h2 {

        margin: 10px 0;

      }

      p {

        color: green;

      }

    }

  }

  .card {

    width: 120px;
    height: 175px;
    margin: 0 10px;

    &:first-child {

      margin-left: 0;

    }

    &:last-child {

      margin-right: 0;

    }

  }

  .hand {

    margin: auto;
    width: 300px;
    height: 175px;

    h2 {

      text-align: center;
      margin-bottom: 20px;

    }

    .cards {

      display: flex;
      justify-content: center;

    }

  }

}
