.message {

  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  p:nth-child(2) {

    max-width: 70%;
    word-wrap: break-word;
    text-align: left;
    padding-right: 10px;

  }

  .alert {

    font-style: italic;

  }

}
